.b-about{
  max-width: 100%;
  position: relative;
  margin: auto;
  display: block;
  @include breakpoint(tablet){
    margin-bottom: 0.7rem;
  }
  &__block{
    position: relative;
    margin:auto;
    padding-top: 5rem;
    background-color: $light-grey;
    @include breakpoint(tablet){
      padding-top: 4.2rem;
      width: 33.33%;
      float: left;
    }
    @include breakpoint(desktop){
      padding-top: 9.5rem;
      width: 33.33%;
      float: left;
    }

    &--grey {
      background-color: $dark-grey;
    }
  }
  &__icon{
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-bottom: 2.8rem;
    @include breakpoint(tablet){
      margin-bottom: 2.7rem;
    }
    @include breakpoint(desktop){
      margin-bottom: 3.7rem;
    }


    img{
      display: inline-block;
      width: 7.5rem;
      @include breakpoint(tablet){
        width: 6.4rem;
      }
      @include breakpoint(desktop){
        width: 8.6rem;
      }

    }
    &-triangle{
      img{
        width: 9rem;
        @include breakpoint(tablet){
          width: 7.5rem;
        }
        @include breakpoint(desktop){
          width: 10.1rem;
        }
      }

  }

  }

  &__content{
    text-align: center;
    display: block;
    margin: auto;

    h1{
      position: relative;
      padding-bottom: 6.4rem;
      color: $black;
      font-family: $roboto;
      @include lineHeightRem (24, 17, 24);
      @include fontSizeRem (20, 20, 18);
      font-weight: 700;
      letter-spacing: 0.4rem;
      @include breakpoint(tablet){
        padding-bottom: 4.8rem;
      }
      @include breakpoint(desktop){
        padding-bottom: 7.3rem;
      }
      &::after{
        position: absolute;
        content:"";
        left: 0;
        right: 0;
        margin: auto;
        top: 5.1rem;
        border-bottom: 2px solid $darker-grey;
        width: 3.6rem;
        @include breakpoint(tablet){
          top: 4.5rem;
        }
        @include breakpoint(desktop){
          top: 6.1rem;
          width: 5rem;
        }
        }
     }
     p{
      padding: 0 1.8rem 3rem 1.8rem;
      @include breakpoint(tablet){
        padding: 0 2.2rem 7.9rem 1.5rem;
      }
      @include breakpoint(desktop){
        padding: 0 5.1rem 4.4rem 4.1rem;
        letter-spacing: 0.03em;
      }
      color: $font-dark-grey;
      font-family: $roboto;
      @include lineHeightRem (30, 28, 25);
      @include fontSizeRem (18, 17, 16);
      font-weight: 300;
     }
  }
}
