.b-hero{
  position: relative;
  left: 0;
  width: 100%;
  & .main-wrapper {
    height: 55.8rem;
    background: url(../images/MainImg.png);
    background-position: center center;
    background-size: cover;
    @include breakpoint(tablet){
      height: 48.8rem;
    }
   @include breakpoint(desktop){
    height: 69.6rem;

   }
  }
  &__content{
    position: absolute;
    top: 31.2%;
    text-align: center;
    margin: auto;
    @include breakpoint(tablet){
      position: relative;
      top: 33.5%;
    }
    @include breakpoint(desktop){
      position: relative;
      top: 33.4%;
    }

    h1{
      position: relative;
      color: black;
      padding-bottom: 4.5rem;
      font-family: $roboto;
      @include lineHeightRem (58, 58, 58);
      @include fontSizeRem (60, 70, 80);
      font-weight: 500;
      &::after{
        position: absolute;
        content:"";
        left: 0;
        right: 0;
        margin: auto;
        bottom: 1.9rem;
        border-bottom: 1px solid red;
        width: 5rem;

      }
      @include breakpoint(tablet){
        padding-bottom: 6.1rem;
      }
      @include breakpoint(desktop){
        padding-bottom: 8.2rem;
        &::after{
          bottom: 4.1rem;
        }
      }
    }
    h2{
      position: relative;
      font-family: $roboto;
      @include fontSizeRem (20, 24, 24);
      font-weight: 400;
      color: black;
      @include lineHeightRem (30, 30, 30);


    }
  }
}
