$font-dark-grey: #666;
$light-grey: #fbfbfb;
$dark-grey: #ededed;
$darker-grey: #d0d0d0;
$black: #222;
$red: #c41230;
$white: #fff;
$font-light-grey: #999;
$tag-grey: #bbb;
$btn-grey: #d7d7d7;
$beige: #f8f7f5;
$font-white: #f2f2f2;
$footer-black: #1e1e1e;
$font-dropdown: #ccc;
